<div class="productCard">
    <a href="/products/{{itemName}}">
        <img src="sample_images/{{imageURL}}" alt="{{itemName}}" style="width:100%">
    </a>
    <a href="/products/{{itemName}}">
        <h1>{{itemName}}</h1>
        <h2>Php {{price}}</h2>
    </a>
</div>